# Dependencies
node_modules/
.pnpm-store/

# Builds & Outputs
dist/
build/
.output/

# Environment & Local DB
.env
*.db
*.db-journal
dev.db

# Logs & Temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
